<!DOCTYPE html>
{% extends 'base.html' %} 

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Time Entry Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

{% block content %}
<body>
  <div class="container">
    <h1>Time Entry Form</h1>
    <form action="log_session" method="POST">
    {% csrf_token%}
  </div>

  <div class="form-group">
    <label for="{{form.hours_trained.id_for_label}}">Hours Trained</label>
    <input type="number" class="form-control" id="{{form.hours_trained.id_for_label}}" name="{{form.hours_trained.name}}">
  </div>

  <div class="form-group">
    <label for="{{form.minutes_trained.id_for_label}}">Minutes Trained</label>
    <input type="number" class="form-control" id="{{form.minutes_trained.id_for_label}}" name="{{form.minutes_trained.name}}">
  </div>

  <div class = "form-group">
    <select class="form-control" id="{{form.grappling_type.id_for_label}}" name= "form.grappling_type.name">
      <option value = "gi">Gi</option>
      <option value = "nogi">No-Gi</option>
  </div>

  <div class = "form-group">
     <label for ="{{form.date.id_for_label}}">Date</label>
     <input type="date" class ="form-control" id="form.date.id_for_label" name="form.date.name" >
  </div>

  <div class="form-group">
     <button type="submit" class="btn btn-primary">Submit</button>
  </div>

    </form>
  </div>

</body>
{% endblock %}
</html>
