body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 500px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
}

.btn {
    margin-top: 20px;
}