/* media queries */



/* global */

:root{
    /* colors */
    --primary: #316760;
    --secondary:#672e14e6;
    --btn-font:  "Honk"
}


.modal-link{
    padding: 10%;
    font-size: larger;
    font-weight: 600;

}

.brandFont {
  font-family: "Jura",;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

html,body {
    position: relative;
    background-color:#ffedd1;
    background-size:cover;
    background-position: center center;
    background-repeat:no-repeat;
    margin:0;
    height: 100%;
}


#main-body-block {
    justify-content: space-between;
    padding: 10px 0;
}

/* navigation */
.navbar {
    background-color: #dbccb4;
    font-family: "Jura";
    padding-top: 24px;
    overflow: hidden;

}

.navbar-brand{
    position: relative;

}

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;

}

.navbar-links {
    display: flex;
}

.navbar-link{
    padding: 10px; 

}
.motivational {
    text-align:left;
    color:#316760;
    font-size: 40px;
}


.nav-items {
    float:right;
}

.nav-link {
   float: right;

}




.btn {
    background-color: var(--primary);
    border-color: var(--primary);
    
}


.btn-success:focus{
    border-color:var(--primary);
}

.btn-close {
    border-color: var(--primary);
    background-color: var(--secondary);
    border-radius: 4px;
}


.main-title {
    height: 200px;
    margin: auto;
    text-align: center;

}

.login-button {
    font-family: "Jura";
    margin: auto;
    height: 100px;
    text-align: center;
}

.login-button a:visited {
    color: #793d21;
}

.main-pg-login-button{
    font-family: "Jura";
    display: flex;
    justify-content: center;
    padding:20px; 

}

.main-pg-bucket{
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    color: #316760;
    font-weight: 700;
    font-family: "Jura";
    font-size: 320pt;
    display: flex;
    justify-content: center;
    padding-top:20%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
    text-align: center;
}


#main-signin-prompt {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    height: 100px;
    text-align: center;
}

#main-signin-prompt a {
    color: #793d21;
}



/* Login Page */
.login-form {
    margin: auto;
    margin-top: 5%;
    width: 50%;
    padding: 40px;
    color:#5E807F;
}

.form-text.text-muted{
    color: #f532c8
}

.login-banner {
    margin: auto;
    padding-top: 5%;
    width: 50%;
    text-align: center;
    font-family: "Jura";
}

.passwordinput{
    color:#f532c8;
}

/* time log entry */
#time-entry-banner {
    padding: 10%;
    text-align: center;
    border-radius: 4%;
}

#time-entry-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#time-entry-message {
    padding: 10px;
    flex-grow: 1;
    margin-left: 10px;
    justify-self: right;
}

#total-hours {
    top: 20px;
    border: 1px solid #000;
    margin-top: 40px;
    background-color: #DEDBD2;

}

#form-btn-submit-time {
    margin-top: 30px;
}



.page-title {
    max-width: 1600px;
    text-align: center;

}

/* Dashboard */

#training-data-display {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-y: auto;
    border: 1px solid #000;
    padding: 10px;
}

#training-sessions {
    box-sizing: border-box;
    background-color: #DEDBD2;
    border-radius: 4%;
    
}

.labels #training-sessions-title {
    text-align: center;
    background-color: #DEDBD2;
    margin: 10px; 
}

ul {
    list-style-type: none;
    padding-left: 0%;
}

.display-dashboard {
    display:block;
    width:100%

}

#training-sessions ul li:not(:last-child) {
    border-bottom: 1px solid #000; 
    border-top: 1px solid black;
    justify-self: flex-start;
}

#training-session {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

#weekly-training {
    text-align: center;
    border: 1px solid #000;
    margin-top: 30px;
}

#form-hours-trained {
    width: 120px
}

#form-minutes-trained {
    width: 120px;
}

#form-grappling-id {
    width: 120px;

}

.menu-bar {
    width: 100%;

}


/* About page */


.about-title{
    color:#316760;
    padding-top: 4rem; 
    padding-left: 2rem;

}

.about-text{
    display: flex;
    flex-direction: column; 
    margin-top: 2rem;
    padding-left: 2rem; 
    color: #316760;

}