{% extends 'base.html' %}


{% block title %}Journada Dashboard{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <form method="POST"></form>
    {% if user.is_authenticated %}
    Welcome, {{ user.username }}. 



    <div class = "container">
        <form method = 'GET'> 
            
        </form>
    {% else %}
        
           <!-- <form method="post"> -->
            <h1>Welcome to Journada!!</h1>
           <!--{{form|crispy}}-->
            {% csrf_token%}
            
            <h2> <a href='/registration/login'>Login</a></h2>
            

            <p> Don't have an account? Create one <a href='registration/signup'>here</a>!</p>
           
            <!--</form>-->
    {% endif %}


</div>
{% endblock %}
