<!DOCTYPE html>
{% extends 'base.html' %} 

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title  %}Training Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
</head>
<body>
    <header>
      <section class="page-title" id="dasbhoard-title">
        <h1>Welcome to Your Training Dashboard</h1>
      </section>
      
    </header>
    
    <main>
      {% block content %}
      {% if user.is_authenticated %}
      
        {% endif %}
        <section class="page-title" id="dasbhoard-title">
          <h1>Welcome to Your Training Dashboard</h1>
        </section>
      
        <section id="training-data-display">
          {% comment %} Column 1 {% endcomment %}
          <div class="labels" id="training-sessions">
            <h2 id="training-sessions-title">Training Sessions</h2>
            <div class="scroll-list" id="training-sessions-list">
              <ul class="ul" id="ul-sessions">
                  <!-- Loop through sessions and display each one -->
                  {% for session in sessions %}
                      <li class="list-item" id="training-session">
                          <!-- Display session information here -->
                          <div>Date: {{ session.date }}-
                          {{ session.hours_trained }} Hours and {{ session.minutes_trained }} min. 
                          Type: {{ session.grappling_type }}
                          ID: {{session.id }}</div>
                          <!-- Add more session details as needed -->
                          <div class="form-group" id="form-btn-edit-time">
                            
                            <a href="{% url 'users:edit_grapple_entry' grapple_entry_id=session.id %}">
                            <button type="submit" class="btn btn-primary">Edit</button>
                          </a>
                          </div>
                      </li>
                  {% empty %}
                      <p>No training sessions found.</p>
                  {% endfor %}
              </ul>
            </div>
          </div>   
          
          {% comment %} Column 2 {% endcomment %}
          <div class="display-total-time" id="total-hours">
            <h3>Hours Trained: {{ hours_trained}} </h3>
            <br>
            <h3>Minutes Trained: {{ minutes_trained }} minutes.</h3>
            <br>
            <h3>Total Mat time: {{ total_mat_time}} hours. </h3>
          </div>
          
          {% comment %} Column 3 {% endcomment %}
          <div class="display-dashboard" id="weekly-training">
            <h2>Dashboard</h2>
            <div class="display-dashboard" id="display-graph">
              <img src="{% static 'images/testgraph.png' %}"alt="Weekly Training" width="500" height="600"> 
            </div>
          </div>
          

        </section>
        
        
        
            </div>
          </main>
          
       
        <!-- Add any other sections or content you need for the dashboard -->
        {% endblock %}
   
    
    <footer>
        <!-- Footer content if needed -->
    </footer>
</body>
</html>