<!DOCTYPE html>
{% extends 'base.html' %} 

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal Entries</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--- <link rel="stylesheet" href="{% static 'css/main.css' %}">-->
    <link rel="stylesheet" href="\\RNas1\First_Share\Repository\Journada\Journada\static\css\main.css">
</head>
<body>
  {% block content %}
  {% if user.is_authenticated %}
    <nav class="navbar navbar-dark">
      <div class="container-fluid motivational brandFont">
        <a class="navbar-brand ">{{user.username}}: Journal Entries</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:log_session' %}">Log Session</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    <main>
      
        <section class="3-col">

          {% comment %} Column 1 {% endcomment %}
          <div>
            <h2>Journal Entries</h2>
            <div>
              <!-- Loop through sessions and display each one -->
              {% for grapple_entry in grapple_entries %}

                  <div class="media journal-entry">
                    <img src="../static/images/journal-svgrepo-com.svg" height="30" width="30" alt="">
                    <div class="media-body">
                        <h4 class="media-heading">John Doe</h4>
                        <p>{{ grapple_entry.notes }}</p>
                        <ul class="list-unstyled list-inline media-detail pull-left">
                            <li><i class="fa fa-calendar"></i>{{  grapple_entry.date }}</li>
                            <li><i class="fa fa-thumbs-up"></i>13</li>
                        </ul>
                        <ul class="list-unstyled list-inline media-detail pull-right">
                            <li class=""><a href="">Like</a></li>
                            <li class=""><a href="">Reply</a></li>
                        </ul>
                    </div>
                </div>

              <section>
                
              </section>  
              {% empty %}
                  <p>
                      No journal entries found. Add a journal entry to a 
                      <a href="{% url 'users:log_session' %}">new</a> or
                      <a href="{% url 'users:dashboard' %}">existing</a> training session.
                  </p>
              {% endfor %}
            </div>
          </div>

        </section>
        
        
        
            </div>
          </main>
          
          {% endif %}
        <!-- Add any other sections or content you need for the dashboard -->
        {% endblock %}
   
    
    <footer>
        <!-- Footer content if needed -->
    </footer>
</body>
</html>
