<!DOCTYPE html>
{% extends 'base.html' %} 

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block title%}Journal Entries{% endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %} 
      <link rel="stylesheet" href="{% static 'css/global.css' %}">
      <link rel="stylesheet" href="{% static 'css/journal_entry.css' %}">
    {% endblock %}
</head>
<body>
  {% block content %}
  {% if user.is_authenticated %}
    <nav class="navbar navbar-dark">
      <div class="container-fluid motivational brandFont">
        <a class="navbar-brand ">Journal Entries: {{user.username}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:dashboard' %}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:log_session' %}">Log Session</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    <main>

      
        <section class="3-col">
          {% comment %} Column 1 {% endcomment %}
          <div>
            <div>
              <!-- Loop through sessions and display each one -->
              {% for grapple_entry in grapple_entries %}
              <section>
                <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
                  <div class="list-group">
                    <a href="{%url 'users:edit_grapple_entry' grapple_entry_id=grapple_entry.id%}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true"> 
                      <h6 class="mb-0">{{user.username}}</h6>
                      
                      <div class="container">
                        <p class="mb-0 opacity-75">{{ grapple_entry.notes }}</p>
                        <small class="opacity-50 text-nowrap">
                          {{  grapple_entry.date }}
                        </small>
                      </div>
                      </a>  
                  </div>
                </div>
              </section>
              {% empty %}
                  <p>
                      No journal entries found. Add a journal entry to a 
                      <a href="{% url 'users:log_session' %}">new</a> or
                      <a href="{% url 'users:dashboard' %}">existing</a> training session.
                  </p>
              {% endfor %}
            </div>
          </div>

        </section>
        
        
        
            </div>
          </main>
          
          {% endif %}
        <!-- Add any other sections or content you need for the dashboard -->
        {% endblock %}

    
    <footer>
        <!-- Footer content if needed -->
    </footer>
</body>
</html>
